IESMavenInterface/src/wsdl/localhost_8080/IES_WebService/IES_WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="IES_WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/IES_WebService/IES_WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="editarCliente">
<part name="parameters" element="tns:editarCliente"/>
</message>
<message name="editarClienteResponse">
<part name="parameters" element="tns:editarClienteResponse"/>
</message>
<message name="getLog">
<part name="parameters" element="tns:getLog"/>
</message>
<message name="getLogResponse">
<part name="parameters" element="tns:getLogResponse"/>
</message>
<message name="logoutToken">
<part name="parameters" element="tns:logoutToken"/>
</message>
<message name="logoutTokenResponse">
<part name="parameters" element="tns:logoutTokenResponse"/>
</message>
<message name="validateToken">
<part name="parameters" element="tns:validateToken"/>
</message>
<message name="validateTokenResponse">
<part name="parameters" element="tns:validateTokenResponse"/>
</message>
<message name="listaClientes">
<part name="parameters" element="tns:listaClientes"/>
</message>
<message name="listaClientesResponse">
<part name="parameters" element="tns:listaClientesResponse"/>
</message>
<message name="removerCliente">
<part name="parameters" element="tns:removerCliente"/>
</message>
<message name="removerClienteResponse">
<part name="parameters" element="tns:removerClienteResponse"/>
</message>
<message name="criarCliente">
<part name="parameters" element="tns:criarCliente"/>
</message>
<message name="criarClienteResponse">
<part name="parameters" element="tns:criarClienteResponse"/>
</message>
<portType name="IES_WebService">
<operation name="login">
<input wsam:Action="http://webservice/IES_WebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice/IES_WebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://webservice/IES_WebService/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://webservice/IES_WebService/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="editarCliente">
<input wsam:Action="http://webservice/IES_WebService/editarClienteRequest" message="tns:editarCliente"/>
<output wsam:Action="http://webservice/IES_WebService/editarClienteResponse" message="tns:editarClienteResponse"/>
</operation>
<operation name="getLog">
<input wsam:Action="http://webservice/IES_WebService/getLogRequest" message="tns:getLog"/>
<output wsam:Action="http://webservice/IES_WebService/getLogResponse" message="tns:getLogResponse"/>
</operation>
<operation name="logoutToken">
<input wsam:Action="http://webservice/IES_WebService/logoutTokenRequest" message="tns:logoutToken"/>
<output wsam:Action="http://webservice/IES_WebService/logoutTokenResponse" message="tns:logoutTokenResponse"/>
</operation>
<operation name="validateToken">
<input wsam:Action="http://webservice/IES_WebService/validateTokenRequest" message="tns:validateToken"/>
<output wsam:Action="http://webservice/IES_WebService/validateTokenResponse" message="tns:validateTokenResponse"/>
</operation>
<operation name="listaClientes">
<input wsam:Action="http://webservice/IES_WebService/listaClientesRequest" message="tns:listaClientes"/>
<output wsam:Action="http://webservice/IES_WebService/listaClientesResponse" message="tns:listaClientesResponse"/>
</operation>
<operation name="removerCliente">
<input wsam:Action="http://webservice/IES_WebService/removerClienteRequest" message="tns:removerCliente"/>
<output wsam:Action="http://webservice/IES_WebService/removerClienteResponse" message="tns:removerClienteResponse"/>
</operation>
<operation name="criarCliente">
<input wsam:Action="http://webservice/IES_WebService/criarClienteRequest" message="tns:criarCliente"/>
<output wsam:Action="http://webservice/IES_WebService/criarClienteResponse" message="tns:criarClienteResponse"/>
</operation>
</portType>
<binding name="IES_WebServicePortBinding" type="tns:IES_WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoutToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IES_WebService">
<port name="IES_WebServicePort" binding="tns:IES_WebServicePortBinding">
<soap:address location="http://localhost:8080/IES_WebService/IES_WebService"/>
</port>
</service>
</definitions>